/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */
.container {
    background-color: white;
    width: 80%;
    margin: auto;
    border-radius: 15px;
}
.container-content {
    width: 85%;
    margin: auto;
}

hr {
    border-style: solid;
    border-color: #f6f8f9;
    border-width: 1px;
}

/* botton */
.btn {
    display: inline-block;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    padding: 6px 10px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.btn-ciano {
    border-color: #47adf1;
    background-color: #47adf1;
    color: white;
}
.btn-grey {
    border-color: #c5cbd0;
    background-color: white;
    color: #c5cbd0;
}

/* HEADER */
.header-container {
    padding: 10px 20px;
    height: 70px;
}
.logo {
    vertical-align: middle;
    padding: 20 50px;
}
.brand {
    font-family: Arial;
    font-size: 40px;
    font-weight: 700;
    vertical-align: middle;
}

/* MAIN */
main {
    background-color: #f6f8f9;
    padding-top: 100px;
    padding-bottom: 20px;
}
