/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */
.container {
    background-color: white;
    width: 80%;
    margin: auto;
    border-radius: 15px;
}
.container-content {
    width: 85%;
    margin: auto;
}

hr {
    border-style: solid;
    border-color: #f6f8f9;
    border-width: 1px;
}

ul {
    list-style-type: none;
}

li {
    font-weight: 600;
    padding-top: 15px;
}

/* botton */
.btn {
    display: inline-block;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    padding: 6px 10px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.btn-ciano {
    border-color: #47adf1;
    background-color: #47adf1;
    color: white;
}
.btn-grey {
    border-color: #c5cbd0;
    background-color: white;
    color: #c5cbd0;
}

/* HEADER */
.header-container {
    padding: 10px 20px;
    height: 70px;
}
.logo {
    vertical-align: middle;
    padding: 20 50px;
}
.brand {
    font-family: Arial;
    font-size: 40px;
    font-weight: 700;
    vertical-align: middle;
}

/* MAIN */
main {
    background-color: #f6f8f9;
    padding-top: 45px;
    padding-bottom: 15px;
}
.todolist {
    font-family: Arial;
    font-size: 18px;
    padding-top: 30px;
}
.list-title {
    font-size: 20px;
    font-weight: 800;
}
.todolist-bottom {
    padding-bottom: 45px;
}
.check {
    width: 18px;
    height: 18px;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid green;
    text-align: center;
    line-height: 18px;
    vertical-align: middle;
    font-size: small;
    color: green;
}
.check-red {
    border-color: red;
    color: red;
}

/*tag*/
.tag {
    color: white;
    border-radius: 25px;
    padding: 7px 10px;
    font-size: 11px;
    vertical-align: middle;
}
.editorial {
    background-color: #47adf1;
}
.goals {
    background-color: #9c72e4;
}
.recruiting {
    background-color: #64c0a9;
}
.mobile {
    background-color: #f29e33;
}
.website {
    background-color: #d863a1;
}
.sales {
    background-color: #b0c926;
}
